name: Go build

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '**'

# cancel jobs in current pr if new commit is done
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Set up version
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Get dependencies
        run: go mod download

      - name: Test
        run: go test -v ./...

      - name: Build
        run: CGO_ENABLED=0 GOOS=linux go build -v ./...